<koala-folder-page
  [customFolderBackgroudColor]="folderBackground"
  customFolderFontColor="#fff"
  titleIcon="webComponents"
  titlePage="Components - List"
  [koalaIcon]="true"
  [navigateHistory]="navigationHistory">

  <div content>
    <mat-accordion class="d-block mt-15 p-20" multi>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>list.module.ts</mat-panel-title>
          <mat-panel-description>
            <mat-icon>code</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <pre><code><span>import</span> &#123; NgModule &#125; <span>from</span> "@angular/core";
<span>import</span> &#123; CommonModule &#125; <span>from</span> "@angular/common";
<span>import</span> &#123; PageListComponent &#125; <span>from</span> "./page-list.component";
<span>import</span> &#123; EmptyListComponent &#125; <span>from</span> "./empty-list/empty-list.component";
<span>import</span> &#123; ErrorListComponent &#125; <span>from</span> "./error-list/error-list.component";
<span>import</span> &#123; ListRoutingModule &#125; <span>from</span> "./list.routing.module";
<span>import</span> &#123; KoalaListModule &#125; <span>from</span> "@koalarx/ui/list";
<span>import</span> &#123; KoalaIconModule &#125; <span>from</span> "@koalarx/ui/icon";
<span>import</span> &#123; KoalaButtonModule &#125; <span>from</span> "@koalarx/ui/button";
<span>import</span> &#123; KoalaAlertModule &#125; <span>from</span> "@koalarx/ui/alert";

<span>@NgModule</span>(&#123;
  exports: [
    PageListComponent
  ],
  declarations: [
    PageListComponent,
    EmptyListComponent,
    ErrorListComponent
  ],
  imports: [
    CommonModule,
    KoalaListModule,
    KoalaButtonModule,
    KoalaIconModule,
    KoalaAlertModule,
    ListRoutingModule
  ]
&#125;)
<span>export class</span> ListModule &#123;&#125;</code></pre>

      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>list.service.ts</mat-panel-title>
          <mat-panel-description>
            <mat-icon>code</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <pre><code><span>import</span> &#123; Injectable &#125; <span>from</span> "@angular/core";
<span>import</span> &#123; Observable &#125; <span>from</span> "rxjs";
<span>import</span> &#123; koala &#125; <span>from</span> "@koalarx/utils";
<span>import</span> &#123; ListItemInterface &#125; <span>from</span> "./list-item.interface";
<span>import</span> &#123; KoalaListFormFilterInterface &#125; <span>from</span> "@koalarx/ui/list";

<span>@Injectable</span>(&#123;providedIn: "any"&#125;)
<span>export class</span> ListService &#123;

  <span>public</span> getList(params?: <span>KoalaListFormFilterInterface</span>) &#123;
    if (params.params.name === 'Test Error') &#123;
      observe.<span>error</span>(new Error('Test Error'));
    &#125; else &#123;
      <span>return new Observable</span>&#60;<span>ListItemInterface</span>[]&#62;(observe => &#123;
        observe.next(<span>koala</span>([
          &#123;name: 'Item 1', qtd: 5, value: 3000&#125;,
          &#123;name: 'Item 2', qtd: 2, value: 8000&#125;,
          &#123;name: 'Item 3', qtd: 4, value: 5000&#125;,
          &#123;name: 'Item 4', qtd: 1, value: 4000&#125;,
          &#123;name: 'Item 5', qtd: 6, value: 6000&#125;,
          &#123;name: 'Item 6', qtd: 3, value: 2000&#125;,
          &#123;name: 'Item 7', qtd: 9, value: 1000&#125;
        ]).<span>array</span>&#60;<span>ListItemInterface</span>&#62;()
          .<span>filter</span>(params?.params?.name ?? '', 'name')
          .<span>orderBy</span>(params?.sort, params?.order?.toUpperCase() === 'DESC')
          .<span>getValue</span>());
      &#125;);
    &#125;
  &#125;

&#125;</code></pre>

      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>page-list.component.ts</mat-panel-title>
          <mat-panel-description>
            <mat-icon>code</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <pre><code><span>import</span> &#123; Component &#125; <span>from</span> "@angular/core";
<span>import</span> &#123; FormGroup &#125; <span>from</span> "@angular/forms";
<span>import</span> &#123; SelectionModel &#125; <span>from</span> "@angular/cdk/collections";
<span>import</span> &#123; ListService &#125; <span>from</span> "./list.service";

<span>import</span> &#123; KoalaListService, KoalaListConfigInterface &#125; <span>from</span> "@koalarx/ui/list";
<span>import</span> &#123; KoalaDynamicFormService &#125; <span>from</span> "@koalarx/ui/form";
<span>import</span> &#123; KoalaXlsxService &#125; <span>from</span> "@koalarx/ui/core";
<span>import</span> &#123; KoalaDynamicComponent &#125; <span>from</span> "@koalarx/ui/dynamic-component";
<span>import</span> &#123; KoalaAlertService, KoalaAlertEnum &#125; from "@koalarx/ui/alert";
<span>import</span> &#123; BehaviorSubject &#125; <span>from</span> "rxjs";
<span>import</span> &#123; ListItemInterface &#125; <span>from</span> "./list-item.interface";
<span>import</span> &#123; koala &#125; <span>from</span> "@koalarx/utils";
<span>import</span> &#123; EmptyListComponent &#125; <span>from</span> "./empty-list/empty-list.component";
<span>import</span> &#123; ErrorListComponent &#125; <span>from</span> "./error-list/error-list.component";

<span>@Component</span>(&#123;
  templateUrl: 'page-list.component.html'
&#125;)
<span>export class</span> PageListComponent &#123;
  <span>public</span> formData: <span>FormGroup</span>;
  <span>public</span> dataSource?: <span>ListItemInterface</span>[];
  <span>public</span> config: <span>KoalaListConfigInterface</span>;
  <span>private</span> selectedItems?: <span>SelectionModel</span>&#60;<span>ListItemInterface</span>&#62;;

  <span>constructor</span>(
    <span>public</span> listService: <span>ListService</span>,
    <span>private</span> koalaListService: <span>KoalaListService</span>,
    <span>private</span> alertService: <span>KoalaAlertService</span>,
    <span>private</span> xlsxService: <span>KoalaXlsxService</span>
  ) &#123;
    <span>super</span>();
    <span>this</span>.config = <span>this</span>.koalaListService
                              .<span>build</span>&#60;<span>ListItemInterface</span>&#62;()
                              .<span>defaultFilter</span>(&#123;
                                params: &#123;&#125;,
                                sort: 'name',
                                order: 'asc',
                                page: 1,
                                limit: 0
                              &#125;)
                              .<span>filterConfig</span>(&#123;
                                main: <span>this</span>.dynamicFormService
                                                  .<span>build</span>()
                                                  .<span>field</span>('Name', 'name', 'text').<span>generate</span>()
                                                  .<span>generate</span>()
                              &#125;)
                              .<span>service</span>(filter => <span>this</span>.listService.getList())
                              .<span>columns</span>([
                                'select',
                                'name',
                                'qtd',
                                'value',
                                'options'
                              &#125;)
                              .<span>disableCheckboxItemList</span>((item => item.qtd === 0))
                              .<span>itemColumn</span>(&#123;
                                label: 'Name',
                                columnDef: 'name',
                                sortHeader: 'name',
                                itemNameProperty: item => item.name,
                                dblClick: item => <span>this</span>.edit(item)
                              &#125;)
                              .<span>itemColumn</span>(&#123;
                                label: 'Qtd.',
                                columnDef: 'qtd',
                                sortHeader: 'qtd',
                                itemNameProperty: item => item.qtd.toString(),
                                dblClick: item => <span>this</span>.edit(item)
                              &#125;)
                              .<span>itemColumn</span>(&#123;
                                label: 'Value',
                                columnDef: 'value',
                                sortHeader: 'value',
                                itemNameProperty: item => koala(item.qtd).number().maskCoin('US$ ').getValue(),
                                dblClick: item => <span>this</span>.edit(item)
                              &#125;)
                              .<span>actionList</span>(&#123;
                                icon: 'edit',
                                name: 'Edit',
                                havePermission: true,
                                showByItemList: item => item.qtd > 0,
                                action: item => <span>this</span>.edit(item)
                              &#125;)
                              .<span>emptyListComponent</span>(ErrorListComponent)
                              .<span>errorListComponent</span>(ErrorListComponent)
                              .<span>getDataSource</span>(dataSource) => <span>this</span>.dataSource = dataSource)
                              .<span>getSelectionList</span>(selection => <span>this</span>.selectedItems = selection)
                              .<span>pageSize</span>(20)
                              .<span>getConfig</span>();
  &#125;

  <span>public</span> edit(item: <span>ListItemInterface</span>) &#123;
    console.log(item);
  &#125;

  <span>public</span> delete() &#123;
    console.log(<span>this</span>.selectedItems.selected);
    <span>this</span>.alertService.create(&#123;
      alertEnum: <span>KoalaAlertEnum</span>.success,
      message: 'The selected items was showed in devTools console. Press F12 to view.'
    &#125;)
  &#125;

  <span>public</span> downloadList() &#123;
    <span>this</span>.xlsxService.convertJsonToXlsx(<span>this</span>.dataSource, &#123;
      filename: 'koala-list',
      sheetName: 'Koala List',
      title: 'Sheet of Koala List',
      titleFontColor: '#b71c1c',
      titleBackgroundColor: '#ffffff',
      headerFontColor: '#ffffff',
      headerBackgroundColor: '#b71c1c'
    &#125;);
  &#125;
&#125;</code></pre>

      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>page-list.component.html</mat-panel-title>
          <mat-panel-description>
            <mat-icon>code</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <pre><code><span>&#60;koala-list</span> [config]="config"&#62;

  <span>&#60;nav</span> itemsSelectList&#62;
    <span>&#60;koala-button</span>
      [koalaIcon]="true"
      (click)="delete()"
      backgroundColor="transparent"
      color="#EF5350"
      icon="trash"
      koalaIconSize="18"
      tooltip="Delete Selected"<span>&#62;
      &#60;/koala-button&#62;
  &#60;/nav&#62;

&#60;nav</span> itemsList&#62;
  <span>&#60;koala-button</span>
    (click)="downloadList()"
    [koalaIcon]="true"
    backgroundColor="transparent"
    color="#616161"
    icon="excel"
    tooltip="Download List (XLSX)"<span>&#62;
    &#60;/koala-button&#62;</span>
    <span>&#60;koala-button</span>
      (click)="reloadList.next(true)"
      backgroundColor="transparent"
      color="#fafafa"
      icon="refresh"
      tooltip="Reload List"<span>&#62;
    &#60;/koala-button&#62;</span>
  <span>&#60;/nav&#62;</span>

<span>&#60;/koala-list&#62;</span></code></pre>

      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>empty-list.component.ts</mat-panel-title>
          <mat-panel-description>
            <mat-icon>code</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <pre><code><span>import</span> &#123; Component &#125; <span>from</span> "@angular/core";

<span>@Component</span>(&#123;
  templateUrl: 'empty-list.component.html',
  styleUrls: ['empty-list.component.css']
})
<span>export class</span> EmptyListComponent &#123;&#125;</code></pre>

      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>empty-list.component.css</mat-panel-title>
          <mat-panel-description>
            <mat-icon>code</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <pre><code><span>.content</span> &#123;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
&#125;
<span>.content h2</span> &#123;
  color: rgba(255,255,255,.6);
  padding: 15px;
&#125;</code></pre>

      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>empty-list.component.html</mat-panel-title>
          <mat-panel-description>
            <mat-icon>code</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <pre><code><span>&#60;div</span> class="content"<span>&#62;</span>
  <span>&#60;koala-icon</span> color="rgba(255,255,255,.6)" icon="empty" size="60"<span>&#62;</span><span>&#60;/koala-icon&#62;</span>
  <span>&#60;h2&#62;</span>No data was found.<span>&#60;/h2&#62;
&#60;/div&#62;</span></code></pre>

      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>error-list.component.ts</mat-panel-title>
          <mat-panel-description>
            <mat-icon>code</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <pre><code><span>import</span> &#123; Component &#125; <span>from</span> "@angular/core";
<span>import</span> &#123; KoalaDynamicComponentComponent &#125; <span>from</span> "@koalarx/ui/dynamic-component";

<span>@Component</span>(&#123;
  templateUrl: 'error-list.component.html',
  styleUrls: ['error-list.component.css']
})
<span>export class</span> EmptyListComponent <span>implements</span> KoalaDynamicComponentComponent &#123;
  <span>public</span> data: <span>Error</span>;
&#125;</code></pre>

      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>error-list.component.css</mat-panel-title>
          <mat-panel-description>
            <mat-icon>code</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <pre><code><span>.content</span> &#123;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
&#125;
<span>.content h2</span> &#123;
  color: rgba(255,255,255,.6);
  padding: 15px;
&#125;</code></pre>

      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>error-list.component.html</mat-panel-title>
          <mat-panel-description>
            <mat-icon>code</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <pre><code><span>&#60;div</span> class="content"<span>&#62;</span>
  <span>&#60;koala-icon</span> color="rgba(255,255,255,.6)" icon="empty" size="60"<span>&#62;</span><span>&#60;/koala-icon&#62;</span>
  <span>&#60;h2&#62;</span>&#123; &#123;data.message&#125;&#125;<span>&#60;/h2&#62;
&#60;/div&#62;</span></code></pre>

      </mat-expansion-panel>

    </mat-accordion>

    <koala-list [config]="config">

      <nav itemsSelectList>
        <koala-button
          [koalaIcon]="true"
          (click)="delete()"
          backgroundColor="transparent"
          color="#EF5350"
          icon="trash"
          koalaIconSize="18"
          tooltip="Delete Selected">
        </koala-button>
      </nav>

      <nav itemsList>
        <koala-button
          (click)="downloadList()"
          [koalaIcon]="true"
          backgroundColor="transparent"
          color="#616161"
          icon="excel"
          tooltip="Download List (XLSX)">
        </koala-button>
        <koala-button
          (click)="config.reload.next(true)"
          backgroundColor="transparent"
          color="#fafafa"
          icon="refresh"
          tooltip="Reload List">
        </koala-button>
      </nav>

    </koala-list>
  </div>

</koala-folder-page>
