<form (ngSubmit)="enviar()" [formGroup]="formInsert">
  <koala-dialog
    btnCloseColor="warn"
    btnCloseLabel="Close"
    title="Insert"
    triggerDialogClose="reloadList">
    <div dialog-content>
      <koala-dynamic-form
        [formConfig]="formConfig"
        [form]="formInsert">
      </koala-dynamic-form>
    </div>
    <div dialog-actions>
      <koala-submit
        [btnLabel]="btnLabel"
        [btnSubmitDisabled]="btnSubmitDisabled"
        [fg]="formInsert"
        [loader]="loader"
        color="primary">
      </koala-submit>
    </div>
  </koala-dialog>
</form>
