<koala-folder-page
  customFolderBackgroudColor="#212121"
  customFolderFontColor="#fff"
  titleIcon="deliveryBox"
  titlePage="Services - Dynamic Form"
  [koalaIcon]="true"
  [navigateHistory]="navigationHistory">

  <section class="p-20" content>

    <mat-accordion multi>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>page-dynamic-form.component.html</mat-panel-title>
          <mat-panel-description>
            <mat-icon>code</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form>
          <koala-dynamic-form
            [form]="config.form"
            [formConfig]="config.formConfig"
            [setValues]="config.setValues"
            [showFields]="config.showFields">
          </koala-dynamic-form>
        </form>

      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>page-dynamic-form.component.ts</mat-panel-title>
          <mat-panel-description>
            <mat-icon>code</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <pre><code><span>import</span> &#123; Component &#125; <span>from</span> "@angular/core";
<span>import</span> &#123; KoalaDynamicFormService &#125; <span>from</span> "ngx-koala";

<span>@Component</span>(&#123;
  templateUrl: 'page-dynamic-form.component.html'
&#125;)
<span>export class</span> PageDynamicFormComponent &#123;
  <span>public</span> config: <span>KoalaDynamicFormConfigInterface</span>;

  <span>constructor</span>(
    <span>private</span> listService: <span>ListService</span>,
    <span>private</span> dynamicFormService: <span>KoalaDynamicFormService</span>
  ) &#123;
    <span>this</span>.config = dynamicFormService.<span>build</span>()
                                                          .<span>field</span>('Text Field', 'text', "text").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Date Field', 'date', "date").<span>grid</span>(2).<span>focus</span>().<span>generate</span>()
                                                          .<span>field</span>('Datetime Field', 'datetime', "datetime").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Time Field', 'time', "time").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('CPF Field', 'cpf', "cpf").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('CNPJ Field', 'cnpj', "cnpj").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Coin Field', 'coin', "coin").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Color Field', 'color', "color").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('E-mail Field', 'email', "email").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Float Field', 'float', "float").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Percent Field', 'percent', "percent").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Hours and Minutes Field', 'hoursAndMinutes', "hoursAndMinutes").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Password Field', 'password', "password").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Phone Field', 'phone', "phone").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>autocomplete</span>('Autocomplete All Field', 'autocompleteAll').<span>grid</span>(2).<span>required</span>()
                                                            .<span>service</span>(new Observable&#60;KoalaDynamicAutocompleteOptionsInterface[]&#62;(observe => &#123;
                                                              <span>this</span>.listService.getList().subscribe(list => &#123;
                                                                const options: KoalaDynamicAutocompleteOptionsInterface[] = [];
                                                                list.forEach(item => options.push(&#123;
                                                                  value: item.value,
                                                                  name: item.name
                                                                &#125;));
                                                                observe.next(options);
                                                              &#125;);
                                                            &#125;)).<span>loadOptions</span>('all').<span>generate</span>()
                                                          .<span>field</span>('Select Field', 'select', "select")
                                                            .<span>setOptions</span>([
                                                              &#123;value: true, name: 'true'&#125;,
                                                              &#123;value: false, name: 'false'&#125;
                                                            ]).<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Radio Field', 'radio', "radio")
                                                            .<span>setOptions</span>([
                                                              &#123;value: true, name: 'true'&#125;,
                                                              &#123;value: false, name: 'false'&#125;
                                                            ]).<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Checkbox', 'checkbox', "checkbox").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Textarea Field', 'textarea', "textarea").<span>generate</span>()
                                                          .<span>field</span>('ValueList Field', 'valueList', "valueList").<span>generate</span>()
                                                          .<span>field</span>('TextLogs Field', 'textLogs', "textLogs").<span>generate</span>()
                                                          .<span>autofill</span>(&#123;text: 'Teste 123'&#125;)
                                                          .<span>generate</span>();
  &#125;
&#125;</code></pre>

        <h2>emitData</h2>
        <p>This method emit a data from <strong>FormGroup</strong> using in your <strong>koala-dynamic-form</strong> component.</p>
        <pre><code><span>this</span>.dynamicFormService.<span>emitData</span>(<span>this</span>.config.form);</code></pre>

        <h2>resetForm</h2>
        <p>This method clear your <strong>FormGroup</strong>.</p>
        <pre><code><span>this</span>.dynamicFormService.<span>resetForm</span>(<span>this</span>.config.form);</code></pre>

        <h2>build</h2>
        <p>This method build a <strong>Koala Dynamic Form</strong>.</p>
        <pre><code><span>this</span>.dynamicFormService
      .<span>build</span>()
      .<span>buildField</span>('Text Field', 'text', "text").<span>grid</span>(2).<span>generate</span>()
      .<span>generate</span>();</code></pre>

      </mat-expansion-panel>

    </mat-accordion>

  </section>

</koala-folder-page>
