<koala-folder-page
	customFolderBackgroudColor="#012d51"
	customFolderFontColor="#fff"
	titleIcon="description"
	titlePage="Koala Forms">
	
	<div class="content" content>
		<mat-accordion class="forms" multi>
			<mat-expansion-panel expanded>
				<mat-expansion-panel-header>
					<mat-panel-title class="titleForm">Endereço</mat-panel-title>
					<mat-panel-description class="titleForm">
						Formulário com integração ao ViaCep.
						<mat-icon>location_on</mat-icon>
					</mat-panel-description>
				</mat-expansion-panel-header>
				
				<koala-location-form [formGroup]="formLocation"></koala-location-form>
			
			</mat-expansion-panel>
			
			<mat-expansion-panel expanded>
				<mat-expansion-panel-header>
					<mat-panel-title class="titleForm">Itens por Demanda</mat-panel-title>
					<mat-panel-description class="titleForm">
						Formulário de inclusão de itens por demanda.
						<mat-icon>receipt_long</mat-icon>
					</mat-panel-description>
				</mat-expansion-panel-header>
				
				<koala-dynamic-form
					[formConfig]="formMoreItensConfig"
					[form]="formMoreItens">
				</koala-dynamic-form>
				
		    <mat-action-row>
		      <button (click)="simulateDataFromServer()" color="primary" mat-raised-button>
			      Simular Preenchimento de Dados
		      </button>
		      <button (click)="sendToConsole()" color="primary" mat-raised-button>
			      Visualizar Dados no Console
		      </button>
		    </mat-action-row>
			
			</mat-expansion-panel>
			
			<mat-expansion-panel expanded>
				<mat-expansion-panel-header>
					<mat-panel-title class="titleForm">Autocomplete</mat-panel-title>
					<mat-panel-description class="titleForm">
						Formulário de autocomplete.
						<mat-icon>sort</mat-icon>
					</mat-panel-description>
				</mat-expansion-panel-header>
				
				<koala-dynamic-form
					[formConfig]="formAutocompleteConfig"
					[form]="formAutocomplete">
				</koala-dynamic-form>
				
		    <mat-action-row>
			    <koala-submit
				    (click)="sendToConsole()"
				    [fg]="formAutocomplete"
				    btnLabel="Visualizar Dados no Console"
				    color="primary">
		      </koala-submit>
		    </mat-action-row>
			
			</mat-expansion-panel>
			
			<mat-expansion-panel expanded>
				<mat-expansion-panel-header>
					<mat-panel-title class="titleForm">Campos Dinâmicos</mat-panel-title>
					<mat-panel-description class="titleForm">
						Formulário para Campos que exibem de acordo com a seleção.
						<mat-icon>dynamic_form</mat-icon>
					</mat-panel-description>
				</mat-expansion-panel-header>
				
				<koala-dynamic-form
					[formConfig]="formCamposDinamicosConfig"
					[form]="formCamposDinamicos"
					[showFields]="showFieldsSubject">
				</koala-dynamic-form>
				
		    <mat-action-row>
			    <koala-submit
				    (click)="sendToConsole()"
				    [fg]="formCamposDinamicos"
				    btnLabel="Visualizar Dados no Console"
				    color="primary">
		      </koala-submit>
		    </mat-action-row>
			
			</mat-expansion-panel>
			
			<mat-expansion-panel expanded>
				<mat-expansion-panel-header>
					<mat-panel-title class="titleForm">File Button</mat-panel-title>
					<mat-panel-description class="titleForm">
						Botão para anexo de arquivos.
						<mat-icon>file</mat-icon>
					</mat-panel-description>
				</mat-expansion-panel-header>
				
				<mat-form-field appearance="outline" class="col-12" floatLabel="always">
					<mat-label>Cole anexos aqui</mat-label>
					<textarea (paste)="paste($event)" matInput></textarea>
				</mat-form-field>
				<koala-file-button
					(getFiles)="showFileList($event)"
					[multiple]="true"
					[setFile]="fileService.setFileSubject"
					[updateFileList]="fileService.fileListSubject"
					[autoclear]="false"
					backgroundColor="transparent"
					color="white"
					icon="attach_file"
					text="Clique para anexar">
				</koala-file-button>
				
				<mat-list>
					<mat-list-item *ngFor="let file of files; let index = i;">
						<button
							(click)="fileService.removeFile(files, index)"
							color="warn"
							mat-icon-button
							mat-list-icon>
							<mat-icon>delete</mat-icon>
						</button>
						<p mat-line>{{file.filename}}</p>
					</mat-list-item>
				</mat-list>
				
		    <mat-action-row>
		      <button (click)="sendToConsole()" color="primary" mat-raised-button>
			      Visualizar Dados no Console
		      </button>
		    </mat-action-row>
			
			</mat-expansion-panel>
		</mat-accordion>
	</div>

</koala-folder-page>
