<koala-folder-page
	customFolderFontColor="#1976D2"
	titleIcon="description"
	titlePage="Koala Forms">
	
	<div class="content" content>
		<mat-accordion class="forms" multi>
			<mat-expansion-panel expanded>
				<mat-expansion-panel-header>
					<mat-panel-title class="titleForm">Endereço</mat-panel-title>
					<mat-panel-description class="titleForm">
						Formulário com integração ao ViaCep.
						<mat-icon>location_on</mat-icon>
					</mat-panel-description>
				</mat-expansion-panel-header>
				
				<koala-location-form [formGroup]="formLocation"></koala-location-form>
			
			</mat-expansion-panel>
			
			<mat-expansion-panel expanded>
				<mat-expansion-panel-header>
					<mat-panel-title class="titleForm">Itens por Demanda</mat-panel-title>
					<mat-panel-description class="titleForm">
						Formulário de inclusão de itens por demanda.
						<mat-icon>receipt_long</mat-icon>
					</mat-panel-description>
				</mat-expansion-panel-header>
				
				<koala-dynamic-form
					[formConfig]="formMoreItensConfig"
					[form]="formMoreItens">
				</koala-dynamic-form>
				
		    <mat-action-row>
			    <button (click)="simulateDataFromServer()" color="primary" mat-raised-button>
			      Simular Preenchimento de Dados
		      </button>
		      <button (click)="sendToConsole()" color="primary" mat-raised-button>
			      Visualizar Dados no Console
		      </button>
		    </mat-action-row>
			
			</mat-expansion-panel>
			
			<mat-expansion-panel expanded>
				<mat-expansion-panel-header>
					<mat-panel-title class="titleForm">Autocomplete</mat-panel-title>
					<mat-panel-description class="titleForm">
						Formulário de autocomplete.
						<mat-icon>location_on</mat-icon>
					</mat-panel-description>
				</mat-expansion-panel-header>
				
				<koala-dynamic-form
					[formConfig]="formAutocompleteConfig"
					[form]="formAutocomplete">
				</koala-dynamic-form>
				
		    <mat-action-row>
		      <button (click)="sendToConsole()" color="primary" mat-raised-button>
			      Visualizar Dados no Console
		      </button>
		    </mat-action-row>
			
			</mat-expansion-panel>
		</mat-accordion>
	</div>

</koala-folder-page>
