<koala-page
	[openPages]="openPages"
	[palletColors]="palletCollors"
  (validatingScope)="validatingScope$.next($event)"
  language="enUs"
  color="primary"
	defaultPage="get-started"
  logo="assets/angular-logotipo.png">

  <div menu-toolbar>
    <a mat-button color="primary">v12.4.1</a>
    <a mat-button href="https://github.com/igordrangel/koala-angular-template" target="_blank" color="primary">
      <koala-icon size="20" color="#fff" icon="github"></koala-icon>
    </a>
  </div>

  <div menu-options>
    <koala-menu [optionsSubject]="menuOptions$"></koala-menu>
  </div>

  <div class="page-content" page-content>
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="validatingScope$ | async" loading-info-content>
    <div class="loading-info">
      <img alt="Koala Icon" src="./assets/angular-logotipo.png"/>
      <h2>Loading your profile, wait a moment...</h2>
      <mat-spinner diameter="20" color="primary"></mat-spinner>
    </div>
  </div>
</koala-page>
