<koala-page
  color="primary"
  [openPages]="openPages"
  (deleteAllNotifications)="deleteAllNotifications($event)"
  (deleteNotification)="deleteNotification($event)"
  [notifications]="notifications"
  [userMenuOptions]="userMenuOptions"
  defaultPage="list"
  logotipo="assets/angular-logotipo.png">
  <div menu-options>
    <koala-menu [options]="menuOptions"></koala-menu>
  </div>
  <div [@routeAnimations]="prepareRoute(outlet)" page-content>
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</koala-page>
