<button
	*ngIf="text else iconButton"
	[matTooltipDisabled]="!tooltip"
	[matTooltip]="tooltip"
	[disabled]="disabled"
  [style]="style"
	class="koala-button"
	mat-button
	matTooltipPosition="above"
	type="button">
  <mat-icon *ngIf="icon && !koalaIcon">{{icon}}</mat-icon>
  <koala-icon [color]="color" [icon]="icon" [size]="koalaIconSize" *ngIf="icon && koalaIcon"></koala-icon>
	{{text}}
</button>
<ng-template #iconButton>
  <button
	  [matTooltipDisabled]="!tooltip"
	  [matTooltip]="tooltip"
    [style]="style"
	  [disabled]="disabled"
	  class="koala-icon-button"
	  mat-icon-button
	  matTooltipPosition="before"
	  type="button">
    <mat-icon *ngIf="!koalaIcon">{{icon}}</mat-icon>
    <koala-icon [color]="color" [icon]="icon" [size]="koalaIconSize" *ngIf="koalaIcon"></koala-icon>
  </button>
</ng-template>
