<koala-folder-page
  [customFolderBackgroudColor]="folderBackground"
  customFolderFontColor="#fff"
  titleIcon="webComponents"
  titlePage="Components - Folder Page"
  [koalaIcon]="true"
  [navigateHistory]="navigationHistory">

  <section class="p-20" content>
    <mat-tab-group color="primary">
      <mat-tab label="OVERVIEW">
        <mat-accordion multi>

          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>example.module.ts</mat-panel-title>
              <mat-panel-description>
                <mat-icon>code</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <pre><code><span>import</span> &#123; NgModule &#125; <span>from</span> '@angular/core';
<span>import</span> &#123; PageExampleComponent &#125; <span>from</span> './page-example.component';
<span>import</span> &#123; CommonModule &#125; <span>from</span> '@angular/common';
<span>import</span> &#123; KoalaFolderPageModule &#125; <span>from</span> 'ngx-koala';
<span>import</span> &#123; ExampleRoutingModule &#125; <span>from</span> './example.routing.module';

<span>@NgModule</span>(&#123;
  declarations: [
    PageExampleComponent
  ],
  imports: [
    CommonModule,
    KoalaFolderPageModule,
    ExampleRoutingModule
  ]
&#125;)
<span>export class</span> ExampleModule &#123;&#125;</code></pre>

          </mat-expansion-panel>

          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>page-example.component.ts</mat-panel-title>
              <mat-panel-description>
                <mat-icon>code</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <pre><code><span>import</span> &#123; Component &#125; <span>from</span> '@angular/core';
<span>import</span> &#123; PageAbstract &#125; <span>from</span> '../../../shared/common/abstract/page.abstract';
<span>import</span> &#123; FormBuilder, FormGroup &#125; <span>from</span> '@angular/forms';

<span>@Component</span>(&#123;
  templateUrl: 'page-example.component.html'
&#125;)
<span>export class</span> PageExampleComponent &#123;
  <span>public</span> navigationHistory: <span>KoalaNavigateHistoryInterface</span> = [
    &#123;name: 'Components', routerLink: '/components'&#125;,
    &#123;name: 'Folder Page'&#125;
  ]
&#125;</code></pre>

          </mat-expansion-panel>

          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>page-example.component.html</mat-panel-title>
              <mat-panel-description>
                <mat-icon>code</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <pre><code><span>&#60;koala-folder-page</span>
  customFolderBackgroudColor="#000"
  customFolderFontColor="#fff"
  titleIcon="person"
  titlePage="Example"
  [navigateHistory]="navigationHistory"<span>&#62;</span>

  &#60;!-- PUT YOUR MENU PAGE HERE --&#62;
  <span>&#60;nav</span> menu<span>&#62;&#60;/nav&#62;</span>

  &#60;!-- PUT YOUR CONTENT PAGE HERE --&#62;
  <span>&#60;section</span> content<span>&#62;&#60;/section&#62;</span>

<span>&#60;/koala-folder-page&#62;</span></code></pre>

          </mat-expansion-panel>

        </mat-accordion>
      </mat-tab>
    </mat-tab-group>
  </section>

</koala-folder-page>
