<div #folder class="folder-list">
  <h1 #folderTitle>
    <mat-icon #folderIconTitle *ngIf="titleIcon && !koalaIcon">{{titleIcon}}</mat-icon>
    <koala-icon *ngIf="titleIcon && koalaIcon" size="20" [color]="customFolderFontColor" [icon]="titleIcon"></koala-icon>
    {{titlePage}}
  </h1>
  <ul #folderNavigateHistory class="navigate-history" *ngIf="navigateHistory">
    <li *ngFor="let item of navigateHistory">
      <a [style]="'color: ' + customFolderFontColor" [ngClass]="{'disabled': !item.routerLink}" [routerLink]="item.routerLink">{{item.name}}</a>
    </li>
  </ul>
  <nav class="menu-folder">
    <ng-content select="[menu-page]"></ng-content>
  </nav>

  <div class="content">
    <ng-content select="[content]"></ng-content>
  </div>

</div>
