<koala-folder-page
  customFolderBackgroudColor="#212121"
  customFolderFontColor="#fff"
  titleIcon="menu_book"
  titlePage="Crud Page"
  [navigateHistory]="navigateHistory">

  <nav menu-page>
    <koala-button
      (click)="dialogList()"
      backgroundColor="#fff"
      color="#212121"
      tooltip="Add Item"
      icon="add">
    </koala-button>
  </nav>

  <section content>
    <koala-list [config]="listConfig">

      <nav itemsSelectList>
        <koala-button
          [koalaIcon]="true"
          (click)="delete()"
          backgroundColor="transparent"
          color="#EF5350"
          icon="trash"
          koalaIconSize="18"
          tooltip="Delete Selected">
        </koala-button>
      </nav>

      <nav itemsList>
        <koala-button
          *ngIf="dataSource?.length > 0"
          (click)="downloadList()"
          [koalaIcon]="true"
          backgroundColor="transparent"
          color="#616161"
          icon="excel"
          tooltip="Download List (XLSX)">
        </koala-button>
        <koala-button
          (click)="listConfig.reload.next(true)"
          backgroundColor="transparent"
          color="#fafafa"
          icon="refresh"
          tooltip="Reload List">
        </koala-button>
      </nav>

    </koala-list>
  </section>

</koala-folder-page>
