.question {color: #616161;}
.question .alert-message {font-family: OpenSans, sans-serif;margin: 20px auto 10px !important;}
.question mat-icon {position: relative;display: block;margin: 15px auto;width: 60px;height: 60px;font-size: 60px;color: #1565c0;}
