<koala-folder-page
	customFolderBackgroudColor="#fafafa"
	customFolderFontColor="#E53935"
	titleIcon="list_alt"
	titlePage="List"
  [navigateHistory]="navigateHistory">

  <div menu-page>
    <koala-button (click)="dialogList()" backgroundColor="#b71c1c" color="#ffffff" icon="add" tooltip="Inserir"></koala-button>
  </div>

  <div content>
    <koala-list
	    (getDataSource)="countries = $event"
	    (getSelection)="selection = $event"
	    [columnsToShowInList]="collumns"
	    [filterFormConfig]="filterConfig"
	    [filterParams]="filter"
	    [itemsList]="itensList"
	    [itensMenuListOptions]="itensMenuListOptions"
	    [request]="buscar()"
	    [reload]="reloadListSubject"
	    typeRequest="all">

      <div itemsSelectList>
        <koala-button
	        (click)="actionList()"
	        backgroundColor="transparent"
	        color="red"
	        icon="delete_forever"
	        tooltip="Delete Forever">
        </koala-button>
      </div>

      <div itemsList>
        <koala-button
	        (click)="downloadList()"
	        backgroundColor="transparent"
	        color="red"
	        icon="assignment_returned"
	        tooltip="Download List (CSV)">
        </koala-button>
      </div>

    </koala-list>
  </div>

</koala-folder-page>
