.koala-icon-animated {overflow: visible;display: block;margin: auto;}
.koala-icon-animated.loading {animation: shake 1.5s infinite alternate ease-in-out;}
.koala-icon-animated.loading #spinner_left {
  animation: rotateLeft 1.4s infinite linear reverse;
  transform-origin: 50% 68%;
}
.koala-icon-animated.loading #spinner_right {
  animation: rotateRight 1.4s infinite linear reverse;
  transform-origin: 50% 68%;
}

@keyframes shake {
  from {transform: translateY(5px);}
}
@keyframes rotateLeft {
  from {transform: rotate(-147.5deg);}
}
@keyframes rotateRight {
  from {transform: rotate(-215.5deg);}
}
