<koala-folder-page
  [customFolderBackgroudColor]="folderBackground"
  customFolderFontColor="#fff"
  titleIcon="deliveryBox"
  titlePage="Services - Question"
  [koalaIcon]="true"
  [navigateHistory]="navigationHistory">

  <section class="p-20" content>

    <koala-button
      (click)="showQuestion()"
      class="d-block mb-15"
      backgroundColor="#fff"
      color="#212121"
      icon="help"
      text="Show Question">
    </koala-button>

    <mat-accordion multi>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>page-question.component.ts</mat-panel-title>
          <mat-panel-description>
            <mat-icon>code</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <pre><code><span>import</span> &#123; Component &#125; <span>from</span> "@angular/core";
<span>import</span> &#123; KoalaQuestionService &#125; <span>from</span> "ngx-koala";

<span>@Component</span>(&#123;
  templateUrl: 'page-question.component.html'
&#125;)
<span>export class</span> PageQuestionComponent &#123;

  <span>constructor</span>(<span>private</span> questionService: <span>KoalaQuestionService</span>) &#123;&#125;

  <span>public</span> showQuestion() &#123;
    <span>this</span>.questionService.open(&#123;
      message: 'Click "Sim" for yes or "Não" for no'
    &#125;, () => <span>alert</span>("You click on yes."), () => <span>alert</span>("You click on no."));
  &#125;
&#125;</code></pre>


      </mat-expansion-panel>

    </mat-accordion>
  </section>

</koala-folder-page>
