.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {color: #fff;}
.menu-toolbar {background-color: #111;border-radius: 20px;}
.menu-toolbar a {border-radius: 0;}
.menu-toolbar a:first-child {border-radius: 20px 0 0 20px;pointer-events: none;}
.menu-toolbar a:last-child {border-radius: 0 20px 20px 0;}
.menu-toolbar a koala-icon {display: inline-flex;padding: 7px 0;}
.p-20 {padding: 20px;}
.text-obs {background: rgba(255,255,255,.1)!important;color: rgba(255,255,255,.6)!important;}
p.warning {color: #FFC107;font-style: italic;}
p.warning a {color: #1565c0;font-weight: bold;font-style: normal;text-decoration: none;}
code {display: block;color: rgba(255,255,255,.7);font-family: "Helvetica Neue", sans-serif;font-size: 1.2em;background: #111;padding: 15px;width: 100%;box-sizing: border-box;}
code span {color: #4CAF50;}
pre {margin: 0;}
.mat-stepper-horizontal,
.mat-stepper-vertical,
mat-expansion-panel {background: rgba(18,18,18, .5) !important;}
.mat-step-header .mat-step-icon:not(.mat-step-icon-selected) {background: rgba(255,255,255,.8);color: #212121;}
.mat-stepper-vertical-line::before {border-left-color: rgba(255,255,255,.8);}
mat-expansion-panel-header mat-panel-title,
.mat-step-text-label {color: #fff!important;}
mat-expansion-panel-header mat-panel-description {display: flex;justify-content: flex-end;color: #fff!important;}
mat-radio-group {color: #fff!important;}
