<koala-folder-page
  [customFolderBackgroudColor]="folderBackground"
  customFolderFontColor="#fff"
  titleIcon="deliveryBox"
  titlePage="Services - Dynamic Form"
  [koalaIcon]="true"
  [navigateHistory]="navigationHistory">

  <section class="p-20" content>
    <mat-tab-group color="primary">
      <mat-tab label="OVERVIEW">
        <mat-accordion multi>

          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>page-dynamic-form.component.ts</mat-panel-title>
              <mat-panel-description>
                <mat-icon>code</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <pre><code><span>import</span> &#123; Component &#125; <span>from</span> "@angular/core";
<span>import</span> &#123;
  KoalaDynamicFormService,
  DynamicFormTypeFieldEnum,
  KoalaDynamicFormConfigInterface
&#125; <span>from</span> "@koalarx/ui/form";
<span>import</span> &#123; format &#125; <span>from</span> "@koalarx/utils/operators/date";

<span>function</span> CustomAsyncValidator(config: () => <span>KoalaDynamicFormConfigInterface</span>) &#123;
  <span>return async</span> (control: <span>AbstractControl</span>) => &#123;
    <span>await delay</span>(2000);
    config()?.setValues.<span>next</span>([
      &#123;name: 'text', value: control.value}
    ]);
    <span>return KoalaDynamicFormValidatorResultHelper</span>.<span>generate</span>('Custom Async Validator Message');
  &#125;
&#125;

<span>function</span> CustomSyncValidator(config: () => <span>KoalaDynamicFormConfigInterface</span>) &#123;
  <span>return</span> (control: <span>AbstractControl</span>) => &#123;
    config()?.setValues.<span>next</span>([
      &#123;name: 'text', value: control.value}
    ]);
    <span>return KoalaDynamicFormValidatorResultHelper</span>.<span>generate</span>('Custom Sync Validator Message');
  &#125;
&#125;

<span>@Component</span>(&#123;
  templateUrl: 'page-dynamic-form.component.html'
&#125;)
<span>export class</span> PageDynamicFormComponent &#123;
  <span>public</span> config: <span>KoalaDynamicFormConfigInterface</span>;

  <span>constructor</span>(
    <span>private</span> fb: <span>FormBuilder</span>,
    <span>private</span> listService: <span>ListService</span>,
    <span>private</span> dynamicFormService: <span>KoalaDynamicFormService</span>
  ) &#123;
    <span>this</span>.config = dynamicFormService.<span>build</span>()
                                                          .<span>field</span>('Custom Mask', 'stringCustomMasc', 'stringWithCustomMasc').<span>grid</span>(3).<span>setCustomMasc</span>("separator.3").<span>textHint</span>("Uses a ngx-mask library.").<span>generate</span>()
                                                          .<span>field</span>('Custom Sync Validator', 'customSyncValidator', 'text').<span>grid</span>(3).<span>syncValidator</span>([<span>CustomSyncValidator</span>(() => <span>this</span>.config)]).<span>generate</span>()
                                                          .<span>field</span>('Custom Async Validator', 'customAsyncValidator', 'text').<span>grid</span>(3).<span>asyncValidator</span>([<span>CustomAsyncValidator</span>(() => <span>this</span>.config)]).<span>generate</span>()
                                                          .<span>field</span>('Competence Data Field', 'competenceDate', 'competenceDate').<span>setValue</span>(<span>koala</span>('now').<span>date</span>().<span>format</span>('MM/YYYY').<span>getValue</span>()).<span>grid</span>(3).<span>generate</span>()
                                                          .<span>field</span>('Text Field', 'text', "text").<span>addClass</span>('field-content').<span>addFieldClass</span>('field-input').<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Date Field', 'date', "date").<span>grid</span>(2).<span>focus</span>().<span>generate</span>()
                                                          .<span>field</span>('Datetime Field', 'datetime', "datetime").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Time Field', 'time', "time").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('CPF Field', 'cpf', "cpf").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('CNPJ Field', 'cnpj', "cnpj").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Coin Field', 'coin', "coin").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Color Field', 'color', "color").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('E-mail Field', 'email', "email").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Float Field', 'float', "float").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Percent Field', 'percent', "percent").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Hours and Minutes Field', 'hoursAndMinutes', "hoursAndMinutes").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Password Field', 'password', "password").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Phone Field', 'phone', "phone").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>autocomplete</span>('Autocomplete All Field', 'autocompleteAll').<span>grid</span>(2).<span>required</span>()
                                                            .<span>service</span>(new Observable&#60;KoalaDynamicAutocompleteOptionsInterface[]&#62;(observe => &#123;
                                                              <span>this</span>.listService.getList().subscribe(list => &#123;
                                                                const options: KoalaDynamicAutocompleteOptionsInterface[] = [];
                                                                list.forEach(item => options.push(&#123;
                                                                  value: item.value,
                                                                  name: item.name
                                                                &#125;));
                                                                observe.next(options);
                                                              &#125;);
                                                            &#125;)).<span>loadOptions</span>('all').<span>generate</span>()
                                                          .<span>field</span>('Select Field', 'select', "select")
                                                            .<span>setOptions</span>([
                                                              &#123;value: true, name: 'true'&#125;,
                                                              &#123;value: false, name: 'false'&#125;
                                                            ]).<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Radio Field', 'radio', "radio")
                                                            .<span>setOptions</span>([
                                                              &#123;value: true, name: 'true'&#125;,
                                                              &#123;value: false, name: 'false'&#125;
                                                            ]).<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Checkbox', 'checkbox', "checkbox").<span>grid</span>(2).<span>generate</span>()
                                                          .<span>field</span>('Select Multiple Native', 'selectMultipleNative', "selectMultipleNative").<span>setOptions</span>([
                                                              &#123;value: 1, name: 'Item 1'&#125;,
                                                              &#123;value: 2, name: 'Item 2'&#125;,
                                                              &#123;value: 3, name: 'Item 3'&#125;,
                                                              &#123;value: 4, name: 'Item 4'&#125;,
                                                              &#123;value: 5, name: 'Item 5'&#125;,
                                                              &#123;value: 6, name: 'Item 6'&#125;
                                                          ]).<span>required</span>().<span>textHint</span>('Selecione um ou mais Items').<span>generate</span>()
                                                          .<span>simpleMoreItems</span>('More Items', 'moreItems', 'Add Item', 1, 2)
                                                            .<span>build</span>()
                                                              .<span>field</span>('Text Field', 'text', "text").<span>maxLength</span>(10).<span>grid</span>(4).<span>generate</span>()
                                                              .<span>field</span>('Date Field', 'date', "date").<span>grid</span>(4).<span>generate</span>()
                                                              .<span>field</span>('Number Field', 'number', "number").<span>grid</span>(4).<span>min</span>(5).<span>max</span>(10).<span>generate</span>()
                                                              .<span>field</span>('String Number Field', 'stringNumber', "stringNumber").<span>grid</span>(4).<span>maxLength</span>(4).<span>generate</span>()
                                                          .<span>generateMoreItems</span>()
                                                          .<span>literalConfig</span>(&#123;
                                                            label: 'More Items',
                                                            name: 'items',
                                                            type: <span>DynamicFormTypeFieldEnum</span>.moreItems,
                                                            moreItemsButtonIconAddlabel: 'Add Item',
                                                            moreItemsIconFontColor: '#212121',
                                                            moreItemsIconBackgroundColor: '#fff',
                                                            moreItemsIcon: 'label',
                                                            moreItemsMinItems: 1,
                                                            moreItemsMaxItems: 2,
                                                            moreItemsConfig: &#123;
                                                              form: <span>this</span>.fb.group(&#123;&#125;),
                                                              formConfig: [&#123;
                                                                label: 'More Items',
                                                                name: 'items',
                                                                type: <span>DynamicFormTypeFieldEnum</span>.moreItems,
                                                                moreItemsButtonIconAddlabel: 'Add Item',
                                                                moreItemsIconFontColor: '#212121',
                                                                moreItemsIconBackgroundColor: '#fff',
                                                                moreItemsIcon: 'label',
                                                                moreItemsMinItems: 1,
                                                                moreItemsMaxItems: 2,
                                                                moreItemsConfig: &#123;
                                                                  form: this.fb.group(&#123;&#125;),
                                                                  formConfig: [&#123;
                                                                    label: 'Text Field',
                                                                    name: 'textField',
                                                                    type: <span>DynamicFormTypeFieldEnum</span>.text,
                                                                    appearance: "outline",
                                                                    class: 'col-12',
                                                                    fieldClass: 'w-100',
                                                                    required: <span>true</span>
                                                                  &#125;]
                                                                &#125;,
                                                                required: <span>true</span>
                                                              &#125;]
                                                            &#125;,
                                                            required: <span>true</span>
                                                          &#125;)
                                                          .<span>field</span>('Textarea Field', 'textarea', "textarea").<span>generate</span>()
                                                          .<span>field</span>('ValueList Field', 'valueList', "valueList").<span>generate</span>()
                                                          .<span>field</span>('TextLogs Field', 'textLogs', "textLogs").<span>generate</span>()
                                                          .<span>field</span>('DynamicForm', 'dynamicForm', 'select').<span>setOptions</span>([
                                                            &#123;value: true, name: 'Show'&#125;,
                                                            &#123;value: false, name: 'Hide'&#125;
                                                          ]).<span>valueChanges</span>((value: <span>boolean</span>) => &#123;
                                                            <span>this</span>.config.showFields.next([
                                                              &#123;name: 'dynamicFormShow', show: value&#125;
                                                            ])
                                                          &#125;).<span>generate</span>()
                                                          .<span>literalConfig</span>(&#123;
                                                            show: false,
                                                            label: 'DynamicForm Showed',
                                                            name: 'dynamicFormShow',
                                                            type: <span>DynamicFormTypeFieldEnum</span>.dynamicForm,
                                                            dynamicFormConfig: <span>this</span>.dynamicFormService
                                                              .<span>build</span>()
                                                                .<span>field</span>('Option', 'option', "select").<span>setOptions</span>([
                                                                  &#123;value: '1', name: 'Option 1'&#125;,
                                                                  &#123;value: '2', name: 'Option 2'&#125;
                                                                ]).<span>generate</span>()
                                                              .<span>generate</span>()
                                                          &#125;)
                                                          .<span>autofill</span>(&#123;
                                                            text: 'Teste 123',
                                                            dynamicForm: <span>false</span>,
                                                            dynamicFormShow: &#123;
                                                              option: '1'
                                                            &#125;,
                                                            selectMultipleNative: [1,2],
                                                            moreItems: [
                                                              &#123;text: '123', date: format('now', 'YYYY-MM-DD'), number: 6&#125;
                                                            ],
                                                            textLogs: 'teste 123'
                                                          &#125;)
                                                          .<span>generate</span>();

    <span>setTimeout</span>(() => &#123;
        dynamicFormService.<span>updateValidator</span>(
            <span>this</span>.config.form,
            'date',
            'required',
            <span>true</span>
        );

        dynamicFormService.<span>updateValidator</span>(
            <span>this</span>.config.form,
            'date',
            'min',
            '2021-03-08'
        );
    &#125;, 5000);
  &#125;
&#125;</code></pre>

          </mat-expansion-panel>

          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>page-dynamic-form.component.html</mat-panel-title>
              <mat-panel-description>
                <mat-icon>code</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <pre><code><span>&#60;form</span> [formGroup]="config.form"<span>&#62;
  &#60;koala-dynamic-form</span>
    [form]="config.form"
    [formConfig]="config.formConfig"
    [setValues]="config.setValues"
    [showFields]="config.showFields<span>"&#62;
  &#60;/koala-dynamic-form&#62;
&#60;/form&#62;</span></code></pre><br/><br/>

            <form [formGroup]="config.form">
              <koala-dynamic-form
                [form]="config.form"
                [formConfig]="config.formConfig"
                [setValues]="config.setValues"
                [showFields]="config.showFields">
              </koala-dynamic-form>
            </form>

          </mat-expansion-panel>

        </mat-accordion>
      </mat-tab>

      <mat-tab label="API">
        <mat-accordion multi>

          <mat-expansion-panel expanded>
            <h2>emitData</h2>
            <p>This method emit a data from <strong>FormGroup</strong> using in your <strong>koala-dynamic-form</strong> component.</p>
            <pre><code><span>this</span>.dynamicFormService.<span>emitData</span>(<span>this</span>.config.form);</code></pre>

            <h2>updateValidator</h2>
            <p>This method update a Validator in field on <strong>FormGroup</strong>.</p>
            <pre><code><span>this</span>.dynamicFormService
      .<span>updateValidator</span>(
          this.config.form,
          'date',
          'required',
          true
      );

<span>this</span>.dynamicFormService
      .<span>updateValidator</span>(
          this.config.form,
          'date',
          'min',
          '2021-03-08'
      );</code></pre>

            <h2>resetForm</h2>
            <p>This method clear your <strong>FormGroup</strong>.</p>
            <pre><code><span>this</span>.dynamicFormService.<span>resetForm</span>(<span>this</span>.config.form);</code></pre>

            <h2>build</h2>
            <p>This method build a <strong>Koala Dynamic Form</strong>.</p>
            <pre><code><span>this</span>.dynamicFormService
      .<span>build</span>()
      .<span>buildField</span>('Text Field', 'text', "text").<span>grid</span>(2).<span>generate</span>()
      .<span>generate</span>();</code></pre>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
    </mat-tab-group>
  </section>

</koala-folder-page>
