<koala-folder-page
  [customFolderBackgroudColor]="folderBackground"
  customFolderFontColor="#fff"
  titleIcon="webComponents"
  titlePage="Components - Dialog"
  [koalaIcon]="true"
  [navigateHistory]="navigationHistory">

  <section class="p-20" content>
    <mat-tab-group color="primary">
      <mat-tab label="OVERVIEW">
        <koala-button
          class="d-block mb-15"
          (click)="openDialog()"
          text="Open Dialog"
          icon="launch"
          backgroundColor="#fff"
          color="#212121">
        </koala-button>

        <mat-accordion multi>

          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>dialog.module.ts</mat-panel-title>
              <mat-panel-description>
                <mat-icon>code</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <pre><code><span>import</span> &#123; NgModule &#125; <span>from</span> '@angular/core';
<span>import</span> &#123; CommonModule &#125; <span>from</span> '@angular/common';
<span>import</span> &#123; PageDialogComponent &#125; <span>from</span> './page-dialog.component';
<span>import</span> &#123; DialogExampleComponent &#125; <span>from</span> './dialog-example.component';
<span>import</span> &#123; ExampleRoutingModule &#125; <span>from</span> './example.routing.module';
<span>import</span> &#123; KoalaDialogModule &#125; <span>from</span> "@koalarx/ui/dialog";

<span>@NgModule</span>(&#123;
  declarations: [
    PageDialogComponent,
    DialogExampleComponent
  ],
  imports: [
    CommonModule,
    KoalaDialogModule,
    ExampleRoutingModule
  ]
&#125;)
<span>export class</span> DialogModule &#123;&#125;</code></pre>

          </mat-expansion-panel>

          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>page-dialog.component.ts</mat-panel-title>
              <mat-panel-description>
                <mat-icon>code</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <pre><code><span>import</span> &#123; Component &#125; <span>from</span> '@angular/core';
<span>import</span> &#123; KoalaDialogService &#125; <span>from</span> "@koalarx/ui/dialog";

<span>@Component</span>(&#123;
  templateUrl: 'dialog-example.component.html'
&#125;)
<span>export class</span> PageDialogComponent &#123;
  <span>constructor</span>(<span>private</span> dialogService: <span>KoalaDialogService</span>) &#123;
    super();
  &#125;

  <span>public</span> openDialog() &#123;
    <span>this</span>.dialogService.open(<span>DialogExampleComponent</span>,"small");
  &#125;
&#125;</code></pre>

          </mat-expansion-panel>

          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>dialog-example.component.ts</mat-panel-title>
              <mat-panel-description>
                <mat-icon>code</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <pre><code><span>import</span> &#123; Component &#125; <span>from</span> '@angular/core';

<span>@Component</span>(&#123;
  templateUrl: 'dialog-example.component.html'
&#125;)
<span>export class</span> DialogExampleComponent &#123;&#125;</code></pre>

          </mat-expansion-panel>

          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>dialog-example.component.html</mat-panel-title>
              <mat-panel-description>
                <mat-icon>code</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <pre><code><span>&#60;koala-dialog</span>
  titleDialog="Dialog"
  iconTitleDialog="launch"
  btnCloseLabel="Close"
  btnCloseColor="warn"<span>&#62;
&#60;/koala-dialog&#62;</span></code></pre>

          </mat-expansion-panel>

        </mat-accordion>
      </mat-tab>
    </mat-tab-group>
  </section>

</koala-folder-page>
