form {margin: 0 auto 50px !important;}
section {padding: 20px 0;display: flex;align-items: center;justify-content: center;height: 100vh;box-sizing: border-box;}
section article {border-radius: 10px;height: auto;margin: 0 auto;padding: 50px;position: relative;width: 350px;}
section article img#logo {position: relative;display: block;margin: 0 auto;padding: 5px;width: 100px;height: auto;}
section article #title {color: #fff;font-family: OpenSans, sans-serif;}
section article #title label {font-size: 1.2em;}
section article #title small {position: relative;display: block;margin-bottom: 25px;font-size: .9em;}
@media (max-width: 900px) {
  .btn-group {display: flex;justify-content: space-between;align-items: center;}
}
