<section>
  <article>
    <img alt="Logo Koala" id="logo" src="assets/angular-icon.png"/>
    <div class="text-center" id="title">
      <h1>Login</h1>
      <small>This is the <strong>fake login page</strong>, so you <strong>don't need to have an account</strong>, just report a fake one.</small>
    </div>
    <form (ngSubmit)="submit()" [formGroup]="config.form">
      <koala-dynamic-form
        [form]="config.form"
        [formConfig]="config.formConfig">
      </koala-dynamic-form>
      <div align="end" class="mt-15">
        <koala-button
          *ngIf="!oauthService.getIdentityClaims() else btnLogout"
          (click)="oauthService.initLoginFlow()"
          class="mr-8"
          color="#fff"
          backgroundColor="#00796B"
          text="Login OAuth2">
        </koala-button>
        <ng-template #btnLogout>
          <koala-button
            (click)="oauthService.logOut()"
            class="mr-8"
            color="#fff"
            backgroundColor="#00796B"
            text="Logout OAuth2">
          </koala-button>
        </ng-template>
        <koala-submit
          [btnLabel]="btnLabel"
          [btnSubmitDisabled]="btnSubmitDisabled"
          [fg]="config.form"
          [loader]="loader"
          color="primary">
        </koala-submit>
      </div>
    </form>
  </article>
</section>
