<section>
  <article>
    <img alt="Logo Koala" id="logo" src="assets/angular-icon.png"/>
    <div class="text-center" id="title">
      <h1>Login</h1>
      <small>Access your <strong>Koala</strong> Account</small>
    </div>
    <form (ngSubmit)="submit()" [formGroup]="formLogin">
      <koala-dynamic-form
        [formConfig]="formConfig"
        [form]="formLogin">
      </koala-dynamic-form>
      <div align="end" class="mt-15">
        <koala-submit
          [btnLabel]="btnLabel"
          [btnSubmitDisabled]="btnSubmitDisabled"
          [fg]="formLogin"
          [loader]="loader"
          color="primary">
        </koala-submit>
      </div>
    </form>
  </article>
</section>
